@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #264653;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sidebar {
  background-color:  #92a2a9;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 0;
  width: 15rem;
  height: 100vh;
  transition: width 0.3s ease-in-out;

  &.collapsed {
    width: 8rem;

    .contentContainer {
      opacity: 0;
    }
  }
  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .burgerContainer {
    content: "";
    background-color: #E76F51;
    position: absolute;
    right: calc(-40px / 2);
    top: calc(2rem / 1.15);
    width: 30px;
    height: 30px;
    border-radius: 2rem;
    z-index: 1;
    cursor: pointer;

    .burgerTrigger {
      content: "";
      background-color: #264653;
      width: 30px;
      height: 30px;
      z-index: 2;
      opacity: 0;
    }

    .burgerMenu {
      content: "";
      background-color: #E76F51;
      position: relative;
      bottom: calc(46px / 2);
      left: 0.45rem;
    }
  }

  .contentContainer{
    margin: 2rem 0 0 0;
    transition: opacity 0.3s;
    opacity: 100%;

    ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      
      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        margin: 0.75rem 0;
        padding: 0.75rem 1rem;
        width: 100%;

        .navbar__icon {
          margin-right: 1rem;
          margin-left: 1rem;
        }

        li {
          text-decoration: none;
          color: #264653;
          font-size: 1.3yrem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 1rem;
        }
      }

      a.active {
        background-color: #7c9098;
      }

      a:hover{
        background-color: #7c9098;
        transition: 0.25s all;
      }
    }
  }
}