@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #264653;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #264653;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fullContainer {
  display: flex;
  height: 100vh;
}

.leftContainer {
  background-color:  #92a2a9;
  padding: 2rem 0;
  width: 250px;
  min-height: 100%;
  z-index: 10;
  transition: width 0.3s;
}

.leftContainer.collapsed {
  width: 80px;

  .contentContainer{
    opacity: 0%;
  }
}

.hamburgerButton {
  background: none;
  border: none;
  cursor: pointer;
  margin: 8px;
  background-color: #264653;
  color: white;
  border-radius: 2rem;
  padding: 5px;
}

.rightContainer {
  flex-grow: 1;
  height: 100%;
}

.sidebar {
  padding: 2rem 0;

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .contentContainer{
    margin: 2rem 0 0 0;
    transition: opacity 0.2s;

    ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      list-style: none;
      padding: 0;

      li {
        width: 100%;
      }
      
      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        margin: 0.75rem 0;
        padding: 0.75rem 2rem 1rem 1rem;
        width: 100%;
        text-decoration: none;
        color: #264653;
        font-size: 1.2rem;

        .navbar__icon {
          margin-right: 1rem;
          margin-left: 1rem;
        }
      }

      a.active {
        background-color: #7c9098;
      }

      a:hover{
        background-color: #7c9098;
        transition: 0.25s all;
      }
    }
  }
}

.mainContent {
  padding: 2rem;
  height: 100%;
  transition: margin-left 0.3s ease-in-out;
  background-color: #264653;
  color: white;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;

  .herdsTitle, .followingTitle {
    font-size: 3.5rem;
    font-weight: 600;
  }

  .herdsCollectionContainer {
    display: flex;
    align-items: center;

    .transitionWrapper {
      overflow: hidden;
      width: 100%;
    }
  }

  .herdsCollection {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1rem;
    flex-wrap: no-wrap;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }

  .herdItem {
    flex: 0 0 calc(100%/ var(--itemsPerPage));
  }

  .herdCard {
    border-radius: 1rem;
    margin: 8px;
    width: 250px;
    height: 300px;
    font-size: 1.5rem;

    img {
      border-radius: 1rem;
      padding: 5px;
      margin-left: 5px;
      margin-top: 5px;
      width: 240px;
      height: 240px;
    }

    .cardName {
      margin-top: -8px;
    }
  }

  .herdCard:hover{
    background-color:  #92a2a9;
  }

}

